<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <title>Docker Meetup: Random Joke Generator</title>
</head>

<body>

    <!-- container -->
    <div class="container">
        <!-- heading -->
        <h1>Docker Switzerland Meetup: Random Joke Generator</h1>
        <h5>
            Credits: https://github.com/the-coding-pie/Random-Joke-Generator
        </h5>
        <hr>

        <!-- joke text -->
        <p class="joke-text">
            Joke Text Goes In Here...
        </p>
        <!-- buttons -->
        <div class="buttons">
            <!-- .new-joke Button -->
            <button class="btn new-joke-btn">New Joke</button>
            <!-- .tweet Button (actually a link). No href initially -->
            <!-- <a href="" class="btn tweet-btn" target="_blank" rel="noopener noreferrer">Tweet!!</a> -->
        </div>


    </div>


    <script type="text/javascript" src="/static/script.js"></script>
</body>

</html>